<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Journey</title>

    <!-- CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/journey.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />

    <!-- Js -->
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/toastr.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/knockout-3.3.0.js"></script>


    <!-- Portal  -->
    <!-- Js -->
    <script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
    <script src="~/SignalR/hubs"></script>

    <script src="~/app/portal/app.js"></script>
    <script src="~/app/portal/portalController.js"></script>

</head>
<body ng-app="app">
    <div ng-controller="portalController">

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Event Centric Journey", "Index", "Home", new { area = "" }, new { @class = "navbar-brand animated fadeIn" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">

                            <a ng-show="isWorking && !hideAll"
                               href=""
                               class="dropdown-toggle animated fadeIn"
                               data-toggle="dropdown"
                               style="font-size: 12px; color:#00ff90; font-weight:600;">
                                <span class="glyphicon glyphicon-ok-sign" style="margin-right: 2px"></span>
                                Worker is online
                                <span class="glyphicon glyphicon-chevron-down" style="margin-left: 2px; color:#989898;"></span>
                            </a>
                            <a ng-show="!isWorking && !hideAll"
                               href=""
                               class="dropdown-toggle animated fadeIn"
                               data-toggle="dropdown"
                               style="font-size: 12px; color:#f35454; font-weight:600;">
                                <span class="glyphicon glyphicon-alert" style="margin-right: 2px"></span>
                                Worker is down
                                <span class="glyphicon glyphicon-chevron-down" style="margin-left: 2px; color:#989898;"></span>
                            </a>

                            <a ng-show="hideAll"
                               href=""
                               data-toggle="dropdown"
                               class="animated fadeIn"
                               style="font-family:Arial; font-size: 12px; color:#dec63d; font-weight:600;">
                                <span class="glyphicon glyphicon-info-sign" style="margin-right: 2px"></span>
                                Work in progress...
                            </a>

                            <ul class="dropdown-menu" role="menu">
                                <li ng-show="!isWorking && !hideAll">
                                    <a href=""
                                       ng-click="start()">
                                        <span class="glyphicon glyphicon-play"
                                              style="margin-right: 2px"></span>
                                        Start
                                    </a>
                                </li>
                                <li ng-show="isWorking && !hideAll">
                                    <a href=""
                                       ng-click="stop()">
                                        <span class="glyphicon glyphicon-stop"
                                              style="margin-right: 2px"></span>
                                        Stop
                                    </a>
                                </li>
                                <li role="presentation" class="divider"></li>
                                <li>
                                    <a href=""
                                       ng-click="rebuildReadModel()">
                                        <span class="glyphicon glyphicon-list-alt"
                                              style="margin-right: 2px"></span>
                                        Rebuild read model
                                    </a>
                                </li>
                                <li>
                                    <a href=""
                                       ng-click="rebuildEventStore()">
                                        <span class="glyphicon glyphicon-sort-by-attributes"
                                              style="margin-right: 2px"></span>
                                        Rebuild event store
                                    </a>
                                </li>
                                <li>
                                    <a href=""
                                       ng-click="rebuildEventStoreAndReadModel()">
                                        <span class="glyphicon glyphicon-repeat"
                                              style="margin-right: 2px"></span>
                                        Rebuild All
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a ng-show="tracingIsOn"
                               ng-click="setTracingOff()"
                               class="animated flash"
                               href="" 
                               style="font-size: 12px; color:#ffd800; font-weight:600;">
                                Tracing is on
                            </a>
                        </li>
                        <li>
                            <a ng-show="!tracingIsOn"
                               ng-click="setTracingOn()"
                               class="animated fadeIn"
                               href=""
                               style="font-size: 12px; color:#989898; font-weight:600;">
                                Tracing is off
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
