@{
    ViewBag.Title = "Portal";
}

<style>
    body {
        background-color: #1e1e1e;
    }
</style>

<!-- CSS -->

<!-- Js -->
<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/SignalR/hubs"></script>

<script src="~/app/portal/app.js"></script>
<script src="~/app/portal/portalController.js"></script>



@*<div ng-app="app">
        <div ng-controller="portalController">
            <div>
                <div data-bind="foreach:messages">
                    <br />
                    <div data-bind="text: $data"
                         style="
                            font-family:Consolas;
                            color:white;
                            white-space:pre-wrap">
                    </div>
                </div>
            </div>
        </div>
    </div>*@






