
@{
    ViewBag.Title = "Portal";
}

<script src="~/Scripts/jquery.signalR-2.2.0.js"></script>
<script src="~/SignalR/hubs"></script>

<script src="~/app/portal/app.js"></script>
<script src="~/app/portal/portalController.js"></script>

<div ng-app="app">

    <div ng-controller="portalController">
        
    </div>

</div>
