@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="jumbotron">
        <h1>Event Centric Journey</h1>
        <p class="lead text-muted">A Full .NET and SQL Server Domain Driven Design, CQRS and Event Sourcing Framework. Inspired on <a href="http://cqrsjourney.github.io/">CQRS Journey</a> from Microsoft</p>
        <p><a href="/Portal" class="btn btn-primary btn-lg">Go to Portal &raquo;</a></p>
    </div>
</div>