<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="defaultConnection" connectionString="Data Source=WS11;Initial Catalog=SIRDAT_P9;User ID=so;Password=1joca395;Persist Security Info=True;packet size=4096" providerName="System.Data.SqlClient" />
    <add name="ReadModel" connectionString="Data Source=WS11;Initial Catalog=SIRDAT_P9;User ID=so;Password=1joca395;Persist Security Info=True;packet size=4096" providerName="System.Data.SqlClient" />
    <add name="DbContext.EventStore" connectionString="Data Source=WS11;Initial Catalog=SIRDAT_P9;User ID=so;Password=1joca395;Persist Security Info=True;packet size=4096" providerName="System.Data.SqlClient" />
    <add name="DbContext.MessageLog" connectionString="Data Source=WS11;Initial Catalog=SIRDAT_P9;User ID=so;Password=1joca395;Persist Security Info=True;packet size=4096" providerName="System.Data.SqlClient" />
    <add name="DbContext.Bus" connectionString="Data Source=WS11;Initial Catalog=SIRDAT_P9;User ID=so;Password=1joca395;Persist Security Info=True;packet size=4096" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>