@{
    ViewBag.Title = "Simple Inventario de Animales";
}

<script src="~/app/admin/app.js"></script>
<script src="~/app/querying.js"></script>
<script src="~/app/comanding.js"></script>

<!-- Common -->
<script src="~/app/common/config.js"></script>
<script src="~/app/common/utils.js"></script>

<!-- Admin Home -->
<script src="~/app/admin/home/adminController.js"></script>
<!-- Forms -->
<script src="~/app/admin/forms/agregarAnimalesController.js"></script>
    <!-- DTO -->
    <script src="~/app/admin/forms/agregarAnimalesDto.js"></script>

<div ng-app="app">
    <div data-ui-view></div>
</div>
